# Install:           sudo cp dryerduty.service /etc/systemd/system/ && sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable dryerduty.service
# Start:             sudo systemctl start dryerduty.service
# Check status:      systemctl status dryerduty.service
# Read logs:         journalctl -f -u dryerduty.service

[Unit]
Description=DryerDuty

[Service]
Type=notify
ExecStart=/opt/dryerduty/DryerDuty
WorkingDirectory=/opt/dryerduty/
Restart=on-failure

[Install]
WantedBy=multi-user.target
