# Copy this file to /etc/systemd/system/
#
# Install:           sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable dryerduty.service
# Start:             sudo systemctl start dryerduty.service
# Check status:      sudo systemctl status dryerduty.service
# Read logs:         sudo journalctl -u dryerduty.service
#
# Source: https://devblogs.microsoft.com/dotnet/net-core-and-systemd/

[Unit]
Description=DryerDuty

[Service]
Type=notify
ExecStart=/usr/local/bin/dryerduty

[Install]
WantedBy=multi-user.target